.card {
    background: #fff;
    border-radius: 12px;
    padding: 1.5rem;
}

h5 {
    font-weight: 600;
}

input,
select,
textarea {
    box-shadow: none !important;
}


.btn {
    min-width: 120px;
}